$basic-light: #FAFAFA;
$basic-dark: #131417;
$basic-orange: #F2994A;
$basic-dark-orange: #EB5757;
$basic-opacity-dark: rgba(19, 20, 23, 0.4);
$basic-dark-grey: #252830;
$basic-opacity-white: rgba(255, 255, 255, 0.1);
$basic-opacity-grey: rgba(19, 20, 23, 0.5);

$Roboto: "Roboto", "Arial", sans-serif;

$tablet-width: 768px;
$desktop-width: 1240px;
$mobile-width-only: 767px;
$tablet-width-only: 1239px;